body
{text-align:center;
font-size:50px;
font-family: 'Times New Roman', Times, serif;
color:blue;
background-color:black;}
#giza
{width:600px;}
#garden
{width: 600px; }
#zeus
{width:600px;}
#artemis
{width:600px;}
#hali
{width:600px;}
#rhodes
{width: 600px;}
#alex
{width:600px;}
#h1
{font-size:75px;
color:red;}
#click
{font-size: 20px;
color:orange;}